.jumbotron {
    width: 100%;
}

body {
    font-size: 11px;
}

#copyright {
    align-self: center;
    margin-left: 25%;
}

#copyright2 {
    align-self: center;
    margin-left: 40%;
    width: 100px;
}

#sign-in-btn {
    margin-right: 20px;
}